html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
}

.right{ 
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2; 
    background-color: bisque;
}
.ava {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: 80px;
}
.dangxuat {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(36, 36, 36);
}
.menu{
    
}
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu li {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 5px;
}
.dangnhap {
    display: flex;
}
.left{
    width: 100%;
    z-index: 1;
    position: relative;
    margin-top: 50px;
    overflow-x: auto;
}
.luachon{
    display: flex;
    margin-top: 150px;
    margin-left: 70px;
}
#xoacay{
    font-size: 14px;
    margin: 0px 10px;
    height: 35px;
    width: 160px;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    background-color: #4CAF50;
    color: white;
}
#ketqua{
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
}
input[type="text"] {
    width: 200px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="text"]:focus {
    border-color: #4CAF50;
    outline: none;
}
input[type="number"] {
    width: 200px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="number"]:focus {
    border-color: #4CAF50;
    outline: none;
}
