<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='locdulieu.css') }}">
    <script src="{{ url_for('static', filename='locdulieu.js') }}" defer></script>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  />
    <title>Quản lý cây xanh</title>
</head>
<body>
    <div class="right">
    <div class="dangnhap">
      <img class="ava" src="{{ url_for('static', filename='ava.jpg') }}" alt="">
    </div>
    <div class="dangxuat">
      <h3 style="display: flex;flex-direction: column;align-items: center;}">
    Xin chào, admin {{ username }} <br>
    <a href="/logout" style="color: red; text-decoration: none;">Đăng xuất</a>
    </h3>
    </div>
    <div class="menu">
      <ul>
        <li onclick="window.location.href='/trangchu'">Bản đồ</li>
        <li onclick="window.location.href='/trangchu'">Tìm kiếm</li>
        <li onclick="window.location.href='/themdulieu'" >Chức năng dữ liệu</li>
        <li onclick="window.location.href='/locdulieu'"style="background-color:rgb(158 158 158 / 70%)">Lọc dữ liệu cây xanh</li>
        <li onclick="window.location.href='/duhiemhoa'">Dự báo cây đổ</li>
        <li onclick="window.location.href='/dulieuquanly'">Dữ liệu quản lý</li>            
      </ul>
    </div>
  </div>
    <div class="left">
<input type="text" id="fid" placeholder="FID">
<input type="text" id="loai" placeholder="Mã sức khỏe">
<input type="text" id="hientrang" placeholder="Hiện trạng">
<input type="text" id="loaicay" placeholder="Loại cây">
<input type="text" id="phutrach" placeholder="Người phụ trách">
<input type="text" id="noidungphtrach" placeholder="Nội dung kiểm tra">
<input type="text" id="ngaykiemtra" placeholder="Ngày kiểm tra">
<input type="text" id="diachi" placeholder="Địa chỉ">
<input type="text" id="matuyencay" placeholder="Mã tuyến cây">
<input type="text" id="duongkinh" placeholder="Đường kính">
<input type="text" id="chieucao" placeholder="Chiều cao">
<input type="text" id="maphanloai" placeholder="Mã phân loại">
<input type="text" id="anhminhhoa" placeholder="Ảnh minh họa">
<input type="text" id="madonviqua" placeholder="Mã đơn vị">
<input type="text" id="manhathau" placeholder="Mã nhà thầu">
<input type="text" id="mahopdongq" placeholder="Mã hợp đồng">
<input type="text" id="mavitri" placeholder="Mã vị trí">
<input type="text" id="maloaicay" placeholder="Mã loại cây">
<button id="timkiem" class="custom-btn btn-blue">Tìm kiếm</button>
<button id="taicsv" class="custom-btn btn-green">Tải CSV</button>
    <div id="ketqua">
        <h3>Kết quả tìm kiếm:</h3>
        <div id="search-result"></div>
</body>
</html>